In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'A':[1,2,4,1,3,2,5,7,8],
                   'B':[2,1,1,3.5,79,0,22,1,19],
                   'C':np.zeros(9),
                   'D':np.ones(9)})

In [ ]:
df.head()

   A     B    C    D
0  1   2.0  0.0  1.0
1  2   1.0  0.0  1.0
2  4   1.0  0.0  1.0
3  1   3.5  0.0  1.0
4  3  79.0  0.0  1.0

##Dropping Constant Features

From the above created dataset , it can be observed that Column C and D will not contribute highly in the case features as they are constant

**We will use variance threshold feature given by sklearn which will remove all the columns having variance less than a given threshold**

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
vt = VarianceThreshold()

In [ ]:
vt.fit(df)

VarianceThreshold(threshold=0.0)

In [ ]:
vt.get_support()

array([ True,  True, False, False])

In [ ]:
constant_cols = [column for column in df.columns if column not in df.columns[vt.get_support()]]

In [ ]:
len(constant_cols)

2

In [ ]:
df.drop(constant_cols,axis=1)

   A     B
0  1   2.0
1  2   1.0
2  4   1.0
3  1   3.5
4  3  79.0
5  2   0.0
6  5  22.0
7  7   1.0
8  8  19.0

##Testing on a real Dataset

###API Setup

In [14]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [15]:
import os

In [29]:
def setup(api):
  import shutil
  ss = api.split()
  folder = ss[-1]
  os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle/"+folder
  print(folder)
  %cd /content/gdrive/My Drive/Kaggle/
  !mkdir $folder
  shutil.copy2("kaggle.json","./"+folder+"/kaggle.json")
  %cd $folder
  !kaggle competitions download -c santander-customer-satisfaction

In [31]:
setup("kaggle competitions download -c santander-customer-satisfaction")
!ls

santander-customer-satisfaction
/content/gdrive/My Drive/Kaggle
mkdir: cannot create directory ‘santander-customer-satisfaction’: File exists
/content/gdrive/My Drive/Kaggle/santander-customer-satisfaction
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv.zip to /content/gdrive/My Drive/Kaggle/santander-customer-satisfaction
100% 4.02M/4.02M [00:00<00:00, 27.3MB/s]

Downloading train.csv.zip to /content/gdrive/My Drive/Kaggle/santander-customer-satisfaction
100% 4.05M/4.05M [00:00<00:00, 17.0MB/s]

Downloading sample_submission.csv to /content/gdrive/My Drive/Kaggle/santander-customer-satisfaction
  0% 0.00/612k [00:00<?, ?B/s]
100% 612k/612k [00:00<00:00, 39.5MB/s]
kaggle.json  sample_submission.csv  test.csv.zip  train.csv.zip

____________________________________________________________________________________

In [32]:
!unzip train.csv.zip

Archive:  train.csv.zip
  inflating: train.csv

In [33]:
df = pd.read_csv("train.csv")

In [34]:
df.head()

   ID  var3  var15  ...  saldo_medio_var44_ult3          var38  TARGET
0   1     2     23  ...                     0.0   39205.170000       0
1   3     2     34  ...                     0.0   49278.030000       0
2   4     2     23  ...                     0.0   67333.770000       0
3   8     2     37  ...                     0.0   64007.970000       0
4  10     2     39  ...                     0.0  117310.979016       0

[5 rows x 371 columns]

In [35]:
vt = VarianceThreshold()

In [36]:
vt.fit(df)

VarianceThreshold(threshold=0.0)

In [37]:
constant_cols = [col for col in df.columns
                 if col not in df.columns[vt.get_support()]]

In [39]:
len(constant_cols)

34

In [42]:
df.drop(constant_cols,axis = 1,inplace=True)

In [43]:
df

           ID  var3  var15  ...  saldo_medio_var44_ult3          var38  TARGET
0           1     2     23  ...                     0.0   39205.170000       0
1           3     2     34  ...                     0.0   49278.030000       0
2           4     2     23  ...                     0.0   67333.770000       0
3           8     2     37  ...                     0.0   64007.970000       0
4          10     2     39  ...                     0.0  117310.979016       0
...       ...   ...    ...  ...                     ...            ...     ...
76015  151829     2     48  ...                     0.0   60926.490000       0
76016  151830     2     39  ...                     0.0  118634.520000       0
76017  151835     2     23  ...                     0.0   74028.150000       0
76018  151836     2     25  ...                     0.0   84278.160000       0
76019  151838     2     46  ...                     0.0  117310.979016       0

[76020 rows x 337 columns]