In [1]:
from sklearn.datasets import load_wine

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = load_wine()

In [4]:
cols = data.feature_names

In [5]:
df = pd.DataFrame(data.data,columns = cols)

In [6]:
cls = data.target

In [7]:
df["class"] = cls

In [8]:
df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  class
0    14.23        1.71  2.43  ...                          3.92   1065.0      0
1    13.20        1.78  2.14  ...                          3.40   1050.0      0
2    13.16        2.36  2.67  ...                          3.17   1185.0      0
3    14.37        1.95  2.50  ...                          3.45   1480.0      0
4    13.24        2.59  2.87  ...                          2.93    735.0      0

[5 rows x 14 columns]

In [9]:
df.isnull().mean()

alcohol                         0.0
malic_acid                      0.0
ash                             0.0
alcalinity_of_ash               0.0
magnesium                       0.0
total_phenols                   0.0
flavanoids                      0.0
nonflavanoid_phenols            0.0
proanthocyanins                 0.0
color_intensity                 0.0
hue                             0.0
od280/od315_of_diluted_wines    0.0
proline                         0.0
class                           0.0
dtype: float64

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(["class"],axis = 1),df["class"],test_size = 0.25)

In [11]:
x_train.head()

     alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
40     13.56        1.71  2.31  ...  0.95                          3.38    795.0
146    13.88        5.04  2.23  ...  0.58                          1.33    415.0
47     13.90        1.68  2.12  ...  0.91                          3.33    985.0
90     12.08        1.83  2.32  ...  1.08                          2.27    480.0
109    11.61        1.35  2.70  ...  0.96                          3.26    680.0

[5 rows x 13 columns]

##Mutual Information Classification

In [12]:
from sklearn.feature_selection import mutual_info_classif

In [13]:
mic = mutual_info_classif(x_train,y_train)

In [14]:
mic

array([0.43193551, 0.2482175 , 0.05008083, 0.27699785, 0.23663927,
       0.45290061, 0.69366839, 0.12330587, 0.26506777, 0.58097132,
       0.43637853, 0.45928258, 0.54938444])

###Finding the most important features

In [15]:
mic = pd.Series(mic)
mic.index = x_train.columns
mic.sort_values(ascending = False)

flavanoids                      0.693668
color_intensity                 0.580971
proline                         0.549384
od280/od315_of_diluted_wines    0.459283
total_phenols                   0.452901
hue                             0.436379
alcohol                         0.431936
alcalinity_of_ash               0.276998
proanthocyanins                 0.265068
malic_acid                      0.248217
magnesium                       0.236639
nonflavanoid_phenols            0.123306
ash                             0.050081
dtype: float64

###Selecting the topmost important features

In [16]:
from sklearn.feature_selection import SelectKBest

In [17]:
#Selecting the top 7 features

In [18]:
cols = SelectKBest(mutual_info_classif,k =7)

In [19]:
cols.fit(x_train,y_train)

SelectKBest(k=7, score_func=<function mutual_info_classif at 0x7fae2235e290>)

In [22]:
x_train.columns[cols.get_support()]

Index(['alcohol', 'total_phenols', 'flavanoids', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline'],
      dtype='object')